*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.content {
  background: #222222;
  padding: 0.3em 0.5em;
  font-size: 50px;
  color: white;
  border-radius: 10px;
}

button {
  background: transparent;
  padding: 1em 3em;
  color: black;
  font-weight: bold;
}
