@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --crl-red: firebrick;
  --crl-blue: dodgerblue;
  --crl-white: whitesmoke;
  --crl-gray: gainsboro;
  --crl-green: mediumseagreen;
  --crl-violet: mediumslateblue;
  --crl-orange: tomato;

  --ff-primary: "Pretendard-Regular", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--crl-gray);
  font-family: var(--ff-primary);
}
ul {
  list-style: none;
}
.container {
  background-color: var(--crl-white);
  width: min(500px, 80%);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding-block: 1em;
}
h1 {
  font-size: 35px;
  letter-spacing: 1px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 1em;
}
.input-wrapper {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 5px;
}
input {
  padding: 0.6em;
  border: 2px solid transparent;
  border-radius: 5px;
}
input:focus {
  outline: none;
  border: 2px solid var(--crl-blue);
}
input::placeholder {
  font-family: var(--ff-primary);
}
.input__button {
  flex: 0 0 80px;
}
button {
  border: none;
  background: var(--crl-green);
  border-radius: 5px;
  color: var(--crl-white);
}
/* =================================================== */
.todo {
  padding-inline: 1em;
}
.todo__item {
  display: none;
  justify-content: space-between;
  padding: 0.5em 2em;
  background: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-bottom: 10px;
  font-size: 18px;
}
.todo__item.active {
  display: flex;
}
.todo__delete {
  cursor: pointer;
}

.pagenation {
  text-align: center;
}
.pagenation__number {
  display: inline-block;
  background: white;
  width: 30px;
  color: var(--crl-green);
  border: 2px solid var(--crl-green);
  border-radius: 6px;
  aspect-ratio: 1;
  cursor: pointer;
  margin-right: 4px;
}
.pagenation__number.active {
  background: var(--crl-green);
  color: var(--crl-white);
}
.pagenation__direction {
  cursor: pointer;
}
